@import "../../style/colors";
@import "../../style/breakpoints";

p {
  font-size: 18px;
}

#section-1 {
  text-align: left;
  img {
    width: 100%;
  }
  h2 {
    padding-right: 150px;
  }
  .logo-img {
    max-width: 200px;
    padding: 0 0 10px 0;
    margin: 0;
  }
}

#section-2 {
  #graphic-2 {
    text-align: center;
  }
}

#how-you-can-help {
  .card {
    padding-right: 0px;
    padding-left: 0px;
    border: none;

    .card-body {
      //   text-align: left;
      padding: 0px;
      margin: 0px 30px 0px 0px;

      .card-title {
        font-size: 20pt;
        color: $dark-blue;
      }
    }
  }
}

#who-we-work-with {
  margin-top: 50px;
  margin-bottom: 50px;
  .contents {
    margin-top: 30px;
    display: grid;
    justify-content: space-evenly;
    .wwww-card {
      box-shadow: 0 4px 8px 2px rgba(65, 65, 65, 0.2);
      margin: 5px 8px;

      img {
        margin: 30px 30px 0px 30px;
        max-width: 70%;
        height: 80px;
      }
      div {
        margin: 20px 30px;
      }
      .title {
        font-size: 1.4em;
        padding: 5px 0px;
        color: $dark-blue;
      }
    }
  }
}
#hwsy {
  margin-top: 30px;
  margin-bottom: 70px;
  .slick-slider {
    .slick-dots button {
      width: 15px;
    }
  }
  .slick-list .slide {
    align-items: center;
    justify-content: center;
    img {
      max-width: 210px;
      margin: 0px;
    }
    h5 {
      font-weight: 500;
    }
    div {
      margin: 0px 50px;
    }
  }
}
#section-5 {
  .btn {
    margin: 10px auto;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
  }
  div {
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media (max-width: $breakpoint_tablet) {
  p {
    font-size: 16px;
  }
  section {
    margin: 60px 30px;
  }
  h4 {
    text-align: center;
  }
  #how-you-can-help {
    img {
      margin: auto;
    }
    .card-body {
      text-align: center;
    }
  }
  #hwsy {
    margin-top: 30px;
    margin-bottom: 70px;
    .slick-slider {
      margin: 50px auto;
      .slick-dots button {
        width: 15px;
      }
    }
    .slick-list .slide {
      text-align: center;
      align-items: center;
      justify-content: center;
      img {
        max-width: 210px;
        margin: auto;
      }
      h5 {
        font-weight: 500;
      }
      div {
        margin: auto;
        width: 90%;
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: $breakpoint_tablet) {
  section {
    margin: 50px 40px;
  }
  #who-we-work-with {
    .contents {
      grid-template-columns: 1fr 1fr;
    }
  }
  #hwsy {
    margin-top: 30px;
    margin-bottom: 70px;
    .slick-slider {
      margin: 50px auto;
      .slick-dots button {
        width: 15px;
      }
    }
    .slick-list .slide {
      display: flex !important;
      div {
        max-width: 50%;
      }
    }
  }
}

@media (min-width: $breakpoint_desktop) {
  .leave-site {
    visibility: visible;
    right: 0;
    position: fixed;
    z-index: 1;
    margin-top: 55px;
    padding-right: 80px;

    button {
      padding: 10px 20px 10px 20px;
    }
  }

  #section-2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    // padding-right: 600px;

    h4 {
      margin-bottom: 0;
      padding-right: 80px;
    }
    img {
      margin: 0;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  #how-you-can-help {
    padding-top: 30px;
    margin-top: 50px;
  }

  #who-we-work-with {
    .contents {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  #section-5 {
    .btn {
      margin: 10px auto;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
    }
    div {
      max-width: 1500px;
    }
  }
  #what-we-do {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .graphic1 {
      //max-width: 80%;
      float: right;
    }
  }

  #dash-sample {
    padding-top: 50px;
    text-align: center;

    img {
      max-width: 1200px;
    }

    h3 {
      color: $dark-teal;
      margin-top: 20px;
    }

    p {
      text-align: left;
      padding: 0 200px 0 200px;
    }
  }

  #calendar {
    margin-right: 0;
    margin-top: 75px;

    .row {
      align-items: center;
    }

    img {
      max-width: 1000px;
      float: right;
    }

    p {
      margin-bottom: 50px;
    }

    .btn-yellow-fill {
      margin-right: 20px;
    }
  }

  #host-dash {
    margin-left: 0;
    margin-top: 75px;

    .row {
      align-items: center;
    }

    img {
      max-width: 1000px;
      float: left;
    }
  }

  #analytics {
    margin-right: 0;
    margin-top: 75px;

    .row {
      align-items: center;
    }

    img {
      max-width: 1000px;
      float: right;
    }
  }
}
