@import "../../style/colors";
@import "../../style/breakpoints";

.logo {
  max-width: 120px;
}

.navbar {
  margin: 0 auto;
  padding: 20px 40px 10px 40px;
  background-color: white;
  h1 {
    color: $teal;
  }
  max-width: 1600px;
  #navbarContent {
    width: 1500px;
    b {
      font-size: 20px;
    }
  }
  #nav-buttons {
    margin-left: auto;

    button {
      margin: 0px 5px 0px 5px;
    }
  }

  .nav-link {
    color: #7e95cd !important;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15pt;
    font-weight: 300;
    margin: 0px 25px 0px 10px;
    flex-grow: 1;
    text-align: center;
  }
  .nav-link:hover {
    color: #fe8b6b;
  }
  // border-bottom: 0.25px solid $baby-blue;
}

#log-in {
  font-size: 1em;
}

a {
  color: $teal;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  &:hover {
    color: $medium-orange;
    text-decoration: none;
    .nav-link {
      color: $medium-orange;
    }
  }
}

@media (min-width: $breakpoint_phone) {
  b {
    font-size: 15px;
  }
}

@media (min-width: $breakpoint_desktop) {
  .navbar {
    font-size: 25px;
  }
  .logo {
    margin: 15px;
    max-width: 130px;
  }
  .navbar-nav {
    margin: 0px 40px 0px 40px;
  }
}
