@import "../../style/colors";
@import "../../style/breakpoints";

.logo {
  max-width: 120px;
}
#navbarContent {
  text-align: center;
  align-items: center;
}
.navbar {
  margin: 0 auto;
  padding: 20px 40px 10px 40px;
  background-color: white;

  max-width: 1600px;
  #navbarContent {
    width: 1500px;
  }
  #nav-button {
    margin-left: auto;

    button {
      margin: 0px 5px 0px 5px;
    }
  }

  .dropdown {
    .dropdown-menu {
      padding: 0.5em;
      .dropdown-item {
        margin: 5px 0px;
        text-align: center;
        font-weight: bolder;
        .active {
          color: #fe8b6b;
        }

        &:hover {
          a {
            color: #fe8b6b;
          }
        }
        &:active {
          background-color: #f8f8f8;
        }
      }
    }
    .dropdown-toggle {
      padding: 0px;
    }
  }
  .nav-item {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px 25px 0px 10px;
  }
}

a {
  color: #7e95cd !important;
  font-size: 18px;
  font-weight: 300;
  &:hover {
    color: #fe8b6b;
  }
}
.active span {
  color: #fe8b6b;
  border-bottom: 2px solid #fe8b6b;
}
#log-in {
  font-size: 0.8em;
}

@media (max-width: $breakpoint_phone) {
  a {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint_tablet) {
}

@media (min-width: $breakpoint_desktop) {
  .logo {
    margin: 15px;
    max-width: 130px;
  }
  .navbar-nav {
    margin: 0px 40px 0px 40px;
  }
}
